<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eun.xposed.statusbarclockinlockscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17"  />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Statusbar Clock in Lockscreen" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="30+" />
        <meta-data
            android:name="xposeddescription"
            android:value="Makes the status bar clock visible in the lockscreen." />

    </application>

</manifest>
